button {
    white-space:nowrap;
    width: 100%;
    position: absolute;
    -webkit-animation: myfirst 10s linear 2s ; /* Safari 4.0 - 8.0 */
    animation: myfirst 20s linear 2s ;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst {
    100% {left:-1500px;}
}

/* Standard syntax */
@keyframes myfirst {
    100% { left:-1500px;}
}