div.tweet {
    white-space:nowrap;
    width: 100%;
    position: absolute;
    -webkit-animation: flyleft 20s linear 10s ; /* Safari 4.0 - 8.0 */
    animation: flyleft 20s linear 10s ;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes flyleft {
    100% {left: -1000px;}
}

/* Standard syntax */
@keyframes flyleft {
    100% { left: -1000px;}
}